<?php

return array(
    'site' => array(
        'site_title' => 'NgakakSeru- Santai Aja Kali',
        'site_description' => 'NgakakSeru- Santai Aja Kali',
        'site_keywords' => 'NgakakSeru- Santai Aja Kali',
        'site_author' => 'NgakakSeru- Santai Aja Kali',
        'site_version' => 'beta 0.1',
    ),
    'url' => array(
        'site_url' => '/',
        'base_url_asset' => '/main',
    ),
);
